.financingSection {
  background-color: #204d3a;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.inner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.logo_image {
  width: 515px;
  height: 567px;
}

.inner_wrapper_info {
  text-align: left;
  max-width: 400px;
}

.header_wrapper {
  text-align: left;
  font-size: 0.8rem;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.intro {
  font-size: 30px;
  line-height: normal;
}

.paragraph_regular {
  font-size: 1rem;
  font-weight: 100;
  margin: 2rem 0;
}

.financial-btn__cta {
  display: inline-block;
  -webkit-transform: scale(1.3, 1); /* Safari and Chrome */
  -moz-transform: scale(1.3, 1); /* Firefox */
  -ms-transform: scale(1.3, 1); /* IE 9 */
  -o-transform: scale(1.3, 1); /* Opera */
  transform: scale(1.3, 1);
}
