:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  max-width: unset;
  overflow-x: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1,
h2,
h3,
h4,
p {
  font-family: Almarena Neue, sans-serif;
}

p {
  font-family: Roboto, sans-serif;
}

/*Project card styles*/

.card__main-container {
  position: relative;
}

.card__main-container .card__wrapper {
  position: absolute;
  width: 100%;
  overflow: hidden;
  background: rgb(36, 78, 58);
  background: linear-gradient(
    0deg,
    rgba(36, 78, 58, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  transition: max-height 1s, opacity 1s;
}

.card__main-container:hover .card__wrapper {
  height: 400px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  cursor: pointer;
}

.card__main-container {
  transition: background 1s;
}

@font-face {
  font-family: "Almarena-bold"; /*Can be any text*/
  src: local("AlmarenaNeue-DisplaySemiBold"),
    url("./fonts/AlmarenaNeue-DisplaySemiBold.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonsonProximaNovaALight"; /*Can be any text*/
  src: local("MarkSimonsonProximaNovaALight"),
    url("./fonts/MarkSimonsonProximaNovaALight.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaA"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaA"),
    url("./fonts/MarkSimonson-ProximaNovaA.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaA2"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaA2"),
    url("./fonts/MarkSimonson-ProximaNovaA2.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaABlack"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaABlack"),
    url("./fonts/MarkSimonson-ProximaNovaABlack.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaABlack2"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaABlack2"),
    url("./fonts/MarkSimonson-ProximaNovaABlack2.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaABlack3"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaABlack3"),
    url("./fonts/MarkSimonson-ProximaNovaABlack3.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaABold"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaABold"),
    url("./fonts/MarkSimonson-ProximaNovaABold.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaABold2"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaABold2"),
    url("./fonts/MarkSimonson-ProximaNovaABold2.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaAExtrabold"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaAExtrabold"),
    url("./fonts/MarkSimonson-ProximaNovaAExtrabold.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaAExtrabold2"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaAExtrabold2"),
    url("./fonts/MarkSimonson-ProximaNovaAExtrabold2.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaAExtrabold3"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaAExtrabold3"),
    url("./fonts/MarkSimonson-ProximaNovaAExtrabold3.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaALight"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaALight"),
    url("./fonts/MarkSimonson-ProximaNovaALight.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaALight2"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaALight2"),
    url("./fonts/MarkSimonson-ProximaNovaALight2.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaAMedium"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaAMedium"),
    url("./fonts/MarkSimonson-ProximaNovaAMedium.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaAMedium2"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaAMedium2"),
    url("./fonts/MarkSimonson-ProximaNovaAMedium2.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaAMedium3"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaAMedium3"),
    url("./fonts/MarkSimonson-ProximaNovaAMedium3.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaASemibold"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaASemibold"),
    url("./fonts/MarkSimonson-ProximaNovaASemibold.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaASemibold2"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaASemibold2"),
    url("./fonts/MarkSimonson-ProximaNovaASemibold2.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaASemibold3"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaASemibold3"),
    url("./fonts/MarkSimonson-ProximaNovaASemibold3.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaAThin"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaAThin"),
    url("./fonts/MarkSimonson-ProximaNovaAThin.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaAThin2"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaAThin2"),
    url("./fonts/MarkSimonson-ProximaNovaAThin2.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonson-ProximaNovaAThin3"; /*Can be any text*/
  src: local("MarkSimonson-ProximaNovaAThin3"),
    url("./fonts/MarkSimonson-ProximaNovaAThin3.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonsonProximaNovaA"; /*Can be any text*/
  src: local("MarkSimonsonProximaNovaA"),
    url("./fonts/MarkSimonsonProximaNovaA.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonsonProximaNovaA2"; /*Can be any text*/
  src: local("MarkSimonsonProximaNovaA2"),
    url("./fonts/MarkSimonsonProximaNovaA2.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonsonProximaNovaABold"; /*Can be any text*/
  src: local("MarkSimonsonProximaNovaABold"),
    url("./fonts/MarkSimonsonProximaNovaABold.otf") format("truetype");
}

@font-face {
  font-family: "MarkSimonsonProximaNovaABold2"; /*Can be any text*/
  src: local("MarkSimonsonProximaNovaABold2"),
    url("./fonts/MarkSimonsonProximaNovaABold2.otf") format("truetype");
}
